.top{
    padding-top: 0px;
    padding-left: 30px;
    background-color: blueviolet;
    color: #FAE928;
    link
    
}

.navbar-toggler{
    background-color: cornsilk;
    color: darkmagenta;
    font-size: 10px;
}